# Common
.DS_Store
.idea/
.env.local

# Stack
.venv/
__pycache__/
*.pyc
build/
dist/
Pipfile
Pipfile.lock
.mypy_cache/
deepface.egg-info/
tests/dataset/*.pkl
tests/*.ipynb
tests/*.csv
**/.coverage
**/.coverage.*
benchmarks/results
benchmarks/outputs
benchmarks/dataset
benchmarks/lfwe
venv
